[submodule "usr/bsh"]
	path = usr/bsh
	url = https://github.com/boredos/bsh.git
	ignore = all
	branch = main
[submodule "usr/nova"]
	path = usr/nova
	url = https://github.com/boredos/nova.git
	ignore = all
	branch = main
[submodule "usr/coreutils"]
	path = usr/coreutils
	url = https://github.com/boredos/coreutils.git
	ignore = all
	branch = main
[submodule "usr/kilo"]
	path = usr/kilo
	url = https://github.com/boredos/kilo.git
	ignore = all
	branch = main
[submodule "usr/boredos_install"]
	path = usr/boredos_install
	url = https://github.com/boredos/boredos_install.git
	ignore = all
	branch = main
[submodule "usr/lua"]
	path = usr/lua
	url = https://github.com/boredos/lua.git
	ignore = all
	branch = main
[submodule "usr/tcc"]
	path = usr/tcc
	url = https://github.com/boredos/tcc.git
	ignore = all
	branch = main
[submodule "usr/netutils"]
	path = usr/netutils
	url = https://github.com/boredos/netutils.git
	ignore = all
	branch = main
[submodule "usr/bart"]
	path = usr/bart
	url = https://github.com/boredos/bart.git
	ignore = all
	branch = main
[submodule "usr/serenityicons"]
	path = usr/serenityicons
	url = https://github.com/BoredOS/serenity-icons.git
	ignore = all
	branch = main
[submodule "usr/bfonts"]
	path = usr/bfonts
	url = https://github.com/boredos/bfonts.git
	ignore = all
	branch = main
[submodule "usr/doomgeneric"]
	path = usr/doomgeneric
	url = https://github.com/boredos/doomgeneric.git
	ignore = all
	branch = main
[submodule "usr/bearssl"]
	path = usr/bearssl
	url = https://github.com/boredos/bearssl.git
	ignore = all
	branch = main
[submodule "usr/bpm"]
	path = usr/bpm
	url = https://github.com/boredos/bpm.git
	ignore = all
	branch = main
[submodule "usr/lwext4"]
	path = fs/vendor/lwext4
	url = https://github.com/boredos/lwext4.git
	ignore = all
	branch = master
[submodule "usr/mlibc"]
	path = usr/mlibc
	url = https://github.com/BoredOS/mlibc
	ignore = all
	branch = master

[submodule "toolchain"]
	path = toolchain
	url = https://github.com/BoredOS/toolchain.git
	branch = main
[submodule "usr/tinygl"]
	path = usr/tinygl
	url = https://github.com/boredos/tinygl.git
[submodule "usr/btvi"]
	path = usr/btvi
	url = https://github.com/BoredOS/btvi.git
[submodule "usr/kirc"]
	path = usr/kirc
	url = https://github.com/BoredOS/kirc.git
[submodule "usr/quake"]
	path = usr/quake
	url = https://github.com/boredos/quake.git
	branch = main
	ignore = all
[submodule "usr/quake2"]
	path = usr/quake2
	url = https://github.com/boredos/quake2.git
	branch = main
	ignore = all
